/* ESTILOS CURSOS   */
/*------------------*/
.cursos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}

@mixin tamaño ($ancho, $altura) {
    height: $altura;
    width: $ancho;
}
.curso {
    @include tamaño(250px, 300px);
    border-radius: 10px;
    background-color: whitesmoke;
    margin: 20px;
    text-align:center;
    transition: all 0.3s;
    border: 2px solid white;
}

.curso:hover {
    transform: scale(1.2,1.2);
    background-color: white;
}
    
h3 {
    color: rgb(13, 1, 66);
}
    
.curso__imagen {
    @include tamaño(100%, 160px);
    border-bottom: 5px solid yellow;
}

$cursos: (
    operadorpc: curso_oppc,
    linux: curso_linux,
    excel: curso_excel,
    google: curso_google,
    disenoweb: curso_dweb,
    python: curso_python,
);

@each $curso, $imagen in $cursos {
    .curso__#{$curso} {
        @extend .curso__imagen;
        background-image: url("../img/#{$imagen}.jpg");
        background-size: cover;
    }    
}

.curso a {
    text-decoration: none;
    display: inline-block;  
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: red
}