* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: rgb(13, 0, 196); */
    background-image: linear-gradient(rgb(0, 0, 0),rgb(0, 0, 255));
    color: white;
}

.fondo-negro {
    background-color: black;
}

.jumbotron {
    /* background-image: url(/img/portada.jpg);
    background-size: cover;
    background-position:right; */
    background-color: orange;
    height: 200px;
    color: black;
}
.jumbotron h1 {
    font-size: 2.5rem;
    text-shadow: 2px 2px #313131;
    color: rgb(255, 255, 255);
}

footer h6 {
    color: chartreuse;
    margin-top: 20px;
}
.footer_bloque li {
    list-style: none;
    font-size: .8rem;
}
.footer_bloque a{
    text-decoration:none;
    color: white;
}


    /* ESTILOS CURSOS   */
    /*------------------*/
    .cursos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-around;
    }
    
    .curso {
        width: 250px;
        height: 300px;
        border-radius: 0 40px;
        background-color: whitesmoke;
        margin: 15px;
        text-align:center;
        transition: all 0.5s;
    }

    .curso:hover {
        transform: scale(1.2,1.1);
    }
    
    h3 {
        color: rgb(13, 1, 66);
    }
    
    .curso__imagen {
        width: 100%;
        height: 160px;
        border-bottom: 5px solid yellow;
    }
    
    .curso__oppc {
        background-image: url(../img/curso_oppc.jpg);
        background-size: cover;
    }
    .curso__linux {
        background-image: url(../img/curso_oplx.jpg);
        background-size: cover;
    }
    .curso__excel {
        background-image: url(../img/curso_excel.jpg);
        background-size: cover;
    }
    .curso__google {
        background-image: url(../img/curso_google.jfif);
        background-size: cover;
    }
    .curso__dweb {
        background-image: url(../img//curso_dweb.jpg);
        background-size: cover;
    }
    .curso__python {
        background-image: url(../img/curso_python.jpg);
        background-size: cover;
    }
    
    .curso a {
        text-decoration: none;
        display: inline-block;  
    }

    /* ESTILOS SERVICIOS*/
    /*------------------*/
    .servicios {
        background-image: linear-gradient(blue,black);
        margin-bottom: 15px;
        color: white;
        padding: 30px;
        height: 500px;
    }
    
    /* ESTILOS NOSOTROS   */
    /*------------------*/
    .nosotros {
        background-image: linear-gradient(blue,black);
        width: 70%;
        margin-left: 10%;
        height: 500px;
        line-height: 2rem;
        padding: 5%;
        margin-bottom: 20PX;
    }
    
    /* ESTILOS FORMULARIO*/
    /*------------------*/

    .formulario {
        width: 70%;
        padding-left: 25%;
    }
    

